{% extends "master.html" %}

{% block title %}
  Home
{% endblock %}


{% block content %}
  <h1>Home</h1>

  {% for i in product|slice:"1:"%}
  
    <div class="w3-third">
        <div class="w3-card">
            <img src='/media/{{i.image}}' style="width:50%">
            <div class="w3-container">
                <h4>{{i.product_name}}</h4>
                <p class="card-text">{{i.desc}}</p>
            </div>
            <a href="#" style="margin: 100px;">Add To Cart</a>
        </div>
    </div>
    {% endfor %}
  
{% endblock %}